.button_container {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button {
    width: 50%;
    height: 40px;
    border: none;
    background-color: var(--color-three);
    color: var(--color-four);
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.button_icon_container {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}