.content_wrapper {
    width: 100%;
    height: calc(100% - 75px);
    background-color: var(--color-eight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_container {
   width: calc(100% - 25px);
   height: calc(100% - 25px);
   position: relative;
   background-color: var(--color-two);
   display: flex;
   justify-content: center;
   align-items: center;
}

.content_messages_wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-two);
  flex-direction: column;
  gap: 12.5px;
  position: relative;


  &::-webkit-scrollbar {
   width: 5px;
 }
 &::-webkit-scrollbar-track {
   background: rgba(32, 52, 96, 0.25);
 }
 &::-webkit-scrollbar-thumb {
   background: var(--color-four);
   border-radius: 0;
}
}


.content_messages_scroll_icon_container {
  position: fixed;
  width: 100%;
  left: calc(50% + 150px);
  top: 50px;
  cursor: pointer;
}


.content_message_wrapper {
  width: calc(50% - 75px);
  height: auto;
  display: flex;
  margin: 25px 12.5px 25px 12.5px;
  padding: 12.5px;
  clear: both;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 25px;
}


.sender {
  float: right;
  background: linear-gradient(135deg, #ff8400, #ff9e33); 
  color: var(--color-two);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.receiver {
  float: left;
  background: linear-gradient(135deg, #eee, #d6d6d6);
  color: var(--color-four);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.content_messages_container {
  width: 100%;
  min-height: 125px;
  height: calc(100% - 36px);
  display: flex;
  gap: 12.5px;
}

.content_messages_left_container {
   width: 125px;
   height: auto;
   min-height: 125px;
}

.content_messages_profile_picture_container {
   width: 125px;
   height: 125px;
}

.content_messages_no_image {
  width: 100%;
  height: 100%;
  background-color: var(--color-four);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-one);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.content_messages_right_container {
  width: 100%;
}

.content_message_username_action_icons_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6.25px;
}

.content_message_action_icons_container {
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12.5px;
}

.sender_icon_actions {
  border-bottom: 1px solid var(--color-two);
}

.receiver_icon_actions {
  border-bottom: 1px solid var(--color-four);
}

.content_message_action_icon_container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    scale: 1.10;
  }
}

.content_message_text_dates_container {
  height: calc(100% - 25px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 12.5px;
}

.content_message_text {
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
  padding-top: 6.25px;
  display: flex;
  gap: 6.25px;
}

.content_dates_container {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12.5px;
}

.content_update_date_container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12.5px;
}

.content_update_date {
  text-decoration: underline;
  cursor: pointer;
}

.edit_active {
  box-shadow: 0 0 12.5px 6.25px var(--color-six);
}